body {
  background: #4e4e94;
}

.section--1 {
  border: purple;
  border-style: solid;
}

.title {
  font-size: 5vw;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.jacaranda--img {
width: 100%;
}

.intro--text {
 position: absolute;
 font-family: verdana, arial, sans-serif;
 top: 135%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 font-size: 1.5vw;
 text-shadow: 1px -3px 5px black;
 color: #F0E0F3;
}

.author--Joshua{
  position: absolute;
  top: 156%;
  left: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.flowers {
  width: 50vw;
  margin-bottom: -3px;
}

.author--Junel {
  position: absolute;
  top: 232%;
  left: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.flower--text {
  text-align: center;
  font-family: verdana, arial, sans-serif;
  position: absolute;
  font-size: 1.5vw;
  left: 52%;
  top: 180%;
  color: #D0B4D5;

}

.trees {
  width: 50vw;
  float: right;
}

.author--German {
  position: absolute;
  top: 348%;
  right: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.tree--text {
  text-align: center;
  font-family: verdana, arial, sans-serif;
  position: absolute;
  font-size: 2vw;
  right: 52%;
  top: 280%;
  color: #D0B4D5;
}

.purple--panic--img {
  width: 50vw;
}

.author--Junel--2 {
  position: absolute;
  top: 485%;
  left: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.purple--panic--text {
  text-align: center;
  font-family: verdana, arial, sans-serif;
  position: absolute;
  font-size: 2vw;
  left: 52%;
  top: 400%;
  color: #D0B4D5;
}

.caveats--img {
  width: 50vw;
  float: right;
}

.author--Tim {
  position: absolute;
  top: 489%;
  right: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.caveats--text {
  text-align: center;
  font-family: verdana, arial, sans-serif;
  position: absolute;
  font-size: 1.5vw;
  right: 52%;
  top: 515%;
  color: #D0B4D5;
}
